{% extends "app/layout.html" %}
{% load static %}

{% block content %}

	<div class="top fullscreen background parallax" id="top" style="background-image:url=;" data-img-width="1920" 
	data-img-height="1080" data-diff="250">
   		<div class="content-a">
   			<div class="overlay"></div>
       		<div class="content-b">
       			<div class="dark-line">
                    <img src="{% static "app/images/aleman_logo.png" %}" alt="Aleman Real Estate"   style='box-shadow: 10px 10px 5px grey;' height="120" width="120"/>

					<h1>Aleman Realty</h1>
					<h2>"Helping families live their dreams"</h2>
<div class="container">
        <div class="row">
                <div class="social">
            <ul>
                <li><a href="TWITTER_LINK"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a href="INSTAGRAM_LINK"><i class="fa fa-lg fa-instagram"></i></a></li>
                <li><a href="YOUTUBE_LINK"><i class="fa fa-lg fa-youtube"></i></a></li>
            </ul>
        </div>
        </div>
</div>

  <div id="navbar" class="navbar-collapse collapse">
                                 <ul class="nav navbar-nav navbar-center">
            			<li><a href="NAV_|_Link">HOME |</a></li>
            			<li><a href="NAV_||_Link">HOME LISTINGS |</a></li>
            			<li><a href="NAV_|||_Link">EVENTS |</a></li>
                        <li><a href="NAV_|_Link">EVENT ROOM |</a></li>
            			
          			</ul>
        		</div>
      		</div>
                                 
                                  </ul>
                        </div>
				</div>
					<div class="arrows"></div>
	       	</div>

  <div class="container" >
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner" style="height:800px;">
      
        <div class="item active" >
          <img src="{% static "app/images/office.jpg" %}"  width="1200">
           <div class="carousel-caption">
            <h3>Aleman Realty Office</h3>
            <p>Aleman Realty and Mortgage Co. will be presenting a workshop program every third Thursday to educate new and struggling homeowners. 
               Everyone is invited to learn more about Real Estate, Mortgages, and more.</p>
          </div>
        </div><!-- End Item -->
 
         <div class="item">
          <img src="{% static "app/images/office2.jpg" %}" height="400" width="1200">
           <div class="carousel-caption">
            
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="{% static "app/images/eventroom.jpg" %}" height="400" width="1200">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
               sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
               aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="{% static "app/images/eventroom2.jpg" %}" height="400" width="1200">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
               sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
               aliquyam erat, sed diam voluptua.</p>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->


    	


    </div><!-- End Carousel -->
</div>
   
        
<div class="index-content">
    <div class="container">
            <a href="blog-ici.html">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="{% static "app/images/mortgage.png" %}">
                        <p>We understand how important a home investment is to you and the impact it will have on your life. 
                        Therefore, our team of experienced mortgage professionals will make every effort to find the best loan program and pricing for your situation.</p>
                        <a href="blog-ici.html" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>
            <a href="blog-ici.html">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="{% static "app/images/realty.png" %}">
                        <h4>Aleman Realty</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="blog-ici.html" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>
            <a href="blog-ici.html">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="{% static "app/images/eventroom.png" %}">
                        <h4>Aleman Realty Event Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="blog-ici.html" class="blue-button">Read More</a>
                    </div>
                </div>
            </a>

    </div>
</div>




<div class="container-fluid" style="background-color:#e8e8e8">
        <div class="container container-pad" id="property-listings">
            
            <div class="row">
              <div class="col-md-12">
                <h1>Featured Homes</h1>
                <p>A snippet I recently used to display homes for a local brokerage.  Focused more on images when accessed through mobile</p>
              </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6"> 

                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="#" target="_parent">$1,975,000 <small class="pull-right">609 W Gravers Ln</small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>4,820 SqFt</li>

                                    <li style="list-style: none">|</li>

                                    <li>5 Beds</li>

                                    <li style="list-style: none">|</li>

                                    <li>5 Baths</li>
                                </ul>

                                <p class="hidden-xs">Situated between fairmount
                                park and the prestigious philadelphia cricket
                                club, this beautiful 2+ acre property is truly
                                ...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill
                                Evergreen</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 218 LYNNEBROOK LN-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="#" target="_parent">$1,975,000 <small class="pull-right">218 Lynnebrook Ln</small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>6,959 SqFt</li>

                                    <li style="list-style: none">|</li>

                                    <li>6 Beds</li>

                                    <li style="list-style: none">|</li>

                                    <li>5 Baths</li>
                                </ul>

                                <p class="hidden-xs">Impressively positioned
                                overlooking 3.5 captivating acres, designated
                                as "significant" by the chestnut hill
                                historical s...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Blue Bell</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 209 CHESTNUT HILL AVE-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/iwn7qH9r9OPnqTaTTxxb8PBzQHk2EiHU2PBBntt041AZsVsGY-SeUexTMLgRcYSJukrKOwHaYnTVXAsk6RdSmA.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="#" target="_parent">$1,599,999 <small class="pull-right">209 Chestnut Hill ve</small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>16,581 SqFt</li>

                                    <li style="list-style: none">|</li>

                                    <li>8 Beds</li>

                                    <li style="list-style: none">|</li>

                                    <li>4 Baths</li>
                                </ul>

                                <p class="hidden-xs">Built in 1909 by
                                pittsburgh steel magnate henry a. laughlin,
                                greylock is a classic chestnut hill stone
                                mansion once cons...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of ng and Foster-Devon</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 704 SAINT GEORGES ST-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/7IZk2HTN0AcHnIb7VCvisTUc3kTbn0UyHQlVAlwkNLM3_8UNN8pcgy9u6KVNoRGGH_kdUlpYehdbqzctRNUebg.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="#" target="_parent">$1,595,000 <small class="pull-right">704 Saint Georges St</small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>0 SqFt</li>

                                    <li style="list-style: none">|</li>

                                    <li>4 Beds</li>

                                    <li style="list-style: none">|</li>

                                    <li>5 Baths</li>
                                </ul>

                                <p class="hidden-xs">Blake development is proud
                                to offer the second of two distinctly unique
                                homes located on one of the most desirable
                                stree...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill
                                Evergreen</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->



                </div>

                <div class="col-sm-6">  

                    <!-- Begin Listing: 1220-32 N HOWARD ST-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/vGoNjc2jHGb87GlnnDQlf6LxeOUgIOn0bL6Wvn1nEnig2Ntq6W7xN5cOQBZZeNxl9O42DOkHUw0LNnj1ZB2KHA.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="#" target="_parent">$1,500,000 <small class="pull-right">1220-32 N Howard St</small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>4,900 SqFt</li>

                                    <li style="list-style: none">|</li>

                                    <li>1 Beds</li>

                                    <li style="list-style: none">|</li>

                                    <li>1 Baths</li>
                                </ul>

                                <p class="hidden-xs">A once in a lifetime
                                opportunity to own a unique live / work space
                                in one of philadelphia's most popular
                                neighborhoods. ...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of ll Banker Preferred-Philadelphia</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 9006 CREFELD ST-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/uLp58OH37CTPHxXcgJXYw8zT2u3xg_2XIbFndB6J0WTSAStGBaEV6YsdAseSZTKAdthm0OzG-Ca_EIkoXIEBxw.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="#" target="_parent">$1,295,000 <small class="pull-right">9006 Crefeld St</small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>7,672 SqFt</li>

                                    <li style="list-style: none">|</li>

                                    <li>7 Beds</li>

                                    <li style="list-style: none">|</li>

                                    <li>5 Baths</li>
                                </ul>

                                <p class="hidden-xs">Located in chestnut hill,
                                recently named by the american planning
                                association as one of america's top 10 great
                                neighborh...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of RE/MAX Services</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: 701 W ALLENS LN-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/K12MLs4i-e2rsQ-rA6DoCwlysXSrEXZyHtCFkrOLsvK1y2mvbUrlmw5pMXX1laXlnY9_0VU82YeS3EucwIchtg.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="#" target="_parent">$1,175,000 <small class="pull-right">701 W Allens Ln</small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>9,824 SqFt</li>

                                    <li style="list-style: none">|</li>

                                    <li>8 Beds</li>

                                    <li style="list-style: none">|</li>

                                    <li>5 Baths</li>
                                </ul>

                                <p class="hidden-xs">A once in a lifetime
                                opportunity! live in this grand home with its
                                stunning entry and staircase, bedroom suites,
                                firepla...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill
                                Evergreen</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                </div><!-- End Col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
























{% endblock %}
